# User Preferences
.vscode/
# Output Files
.ipcache/
build*
host_exe
*.o
# Log files
*.log
# Intermediate files
.Xil/
.run/
emconfig.json
_x*
package.hw_emu/
.claude/
.claude-flow/
.swarm/
.mcp.json
CLAUDE.md
*.tar.gz
*.zip
build*
packaged*
*.csv
*.xo
*.ila
*.txt
*.jou
.vscode
host_exe*
.vivado-tmp/**
tmp_kernel**
*.link_summary
.claudeignore
server1_stack_top.vcd
