# User Preferences
.vscode/
# Output Files
.ipcache/
build*
host_exe
*.o
# Log files
*.log
# Intermediate files
.Xil/
.run/
emconfig.json
_x*
package.hw_emu/
.claude/
.claude-flow/
.swarm/
.mcp.json
CLAUDE.md